/* body, h1, h2, h3, h4, h5, h6, p, ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
} */
/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* common css */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.button {
  display: inline-block;
  font-size: 32px;
  color: #fff;
  background-color: #f7ba3e;
  padding: 5px 36px;
  border-radius: 5px;
  opacity: .8;
}
.button:hover {
  opacity: 1;
}
.layout {
  width: 900px;
  margin: 0 auto;
}
body {
  font: 14px/1.5 Arial;
  background-color: #eee;
  color: #444;
}